@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  color: #3C2A10;
}

iframe {
  vertical-align: bottom;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.l-header {
  background-color: #FFF7EF;
  width: 100%;
  height: 214px;
  position: relative;
}
.l-header__inner {
  padding: 5rem 1.938rem 0 4.063rem;
}
.l-header__link {
  font-size: 6.4rem;
  color: #707070;
}
.l-header__link:hover {
  opacity: 0.7;
}
.l-header__button {
  font-size: 3.4rem;
  color: #707070;
  position: absolute;
  top: 20px;
  right: 1.563rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が375px~1024pxまでの間で適応される*/
  /*以下は画面幅が375px以下になったら適応される*/
}
@media (min-width: 1024px) {
  .l-header__button {
    display: none;
  }
}

.l-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
}
.l-wrapper__inner {
  width: 80vw;
  height: 100%;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が375px~1024pxまでの間で適応される*/
  /*以下は画面幅が375px以下になったら適応される*/
}
@media (min-width: 375px) and (max-width: 1024px) {
  .l-wrapper__inner {
    width: 100vw;
  }
}

.l-main {
  background-color: #FFFDFA;
}

.l-contents--first {
  margin: 0 7.5rem;
}
.l-contents--subsequent {
  margin: 0 6.25rem;
}

.l-sidebar {
  background-color: #F2EDE9;
  width: 20vw;
  height: 100vh;
  min-height: 100%;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が375px~1024pxまでの間で適応される*/
  /*以下は画面幅が375px以下になったら適応される*/
}
.l-sidebar__inner {
  padding: 84px 121px 0 46px;
}
.l-sidebar__title {
  font-size: 3.4rem;
  padding-bottom: 90px;
  color: #707070;
}
@media (min-width: 375px) and (max-width: 1024px) {
  .l-sidebar {
    display: none;
  }
}

.l-footer {
  background-image: url(../images/pc-bg-footer@2x.jpg);
  width: 100%;
  height: 100%;
}
.l-footer__inner {
  padding: 41px 0 27px 0;
}
.l-footer__menu {
  padding-bottom: 31px;
}
.l-footer__item {
  font-size: 2rem;
}
.l-footer__item:first-of-type {
  padding-right: 10px;
}
.l-footer__item:last-of-type {
  border-left: 2px solid white;
  line-height: 2rem;
  padding-left: 10px;
}
.l-footer__link {
  color: white;
}
.l-footer__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.l-footer__copyright {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.c-button {
  max-width: 100%;
}
.c-button__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  text-align: center;
}

.c-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-line {
  display: block;
  border-style: solid;
}

.c-grid {
  display: grid;
}

.c-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.c-heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}

.c-flex {
  display: flex;
}
.c-flex--center {
  align-items: center;
  justify-content: center;
}
.c-flex--column {
  flex-direction: column;
  justify-content: space-between;
}
.c-flex--center-between {
  align-items: center;
  justify-content: space-between;
}

.c-bgImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.c-undisplay {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が375px~1024pxまでの間で適応される*/
  /*以下は画面幅が375px以下になったら適応される*/
}
@media (min-width: 1024px) {
  .c-undisplay {
    display: none;
  }
}

.p-location {
  width: 100%;
  height: 100%;
}
.p-location__overlay {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
}
.p-location__overlay::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.p-location__map {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  grid-area: 1/1;
}
.p-location__container {
  width: 70%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 86px 134px 75px 119px;
  color: white;
  grid-area: 1/1;
  z-index: 3;
  position: relative;
  pointer-events: none;
}
.p-location__title {
  color: white;
  padding-bottom: 50.5px;
  font-size: 3.6rem;
}
.p-location__line {
  border-color: white;
  border-width: 2px;
  width: 75px;
  margin-bottom: 58.5px;
}
.p-location__text {
  color: white;
  line-height: 3.3;
  height: auto;
}

.p-sideMenu {
  width: 100%;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が375px~1024pxまでの間で適応される*/
  /*以下は画面幅が375px以下になったら適応される*/
}
.p-sideMenu__menu {
  white-space: nowrap;
}
.p-sideMenu__list {
  font-size: 2.4rem;
  color: #707070;
  padding-bottom: 32px;
}
.p-sideMenu__list:not(:first-child) {
  padding-top: 48px;
}
.p-sideMenu__item {
  font-size: 2rem;
  padding-left: 20px;
}
.p-sideMenu__item:not(:last-child) {
  padding-bottom: 20px;
}
.p-sideMenu__link {
  color: #707070;
}
.p-sideMenu__link:hover {
  opacity: 0.7;
}
@media (min-width: 375px) and (max-width: 1024px) {
  .p-sideMenu {
    display: none;
  }
}

.p-pagenation {
  margin-bottom: 64px;
}
.p-pagenation__count {
  color: #707070;
  padding-right: 15px;
}
.p-pagenation__prev {
  color: #707070;
  padding-right: 15px;
}
.p-pagenation__item {
  border: 1px solid #707070;
  width: 35px;
  height: 35px;
  color: #707070;
}
.p-pagenation__item:not(:last-child) {
  margin-right: 15px;
}
.p-pagenation__item:first-child {
  background-color: #3C2A10;
  color: white;
}

.p-card:not(:last-child) {
  margin-bottom: 1.875rem;
}
.p-card:last-child {
  margin-bottom: 150px;
}
.p-card__image {
  max-width: 50.074%;
  height: auto;
}
.p-card__container {
  background-color: #3C2A10;
}
.p-card__wrapper {
  padding: 56px 6.5rem 60px 3.938rem;
}
.p-card__title {
  color: white;
  padding-bottom: 41px;
  font-size: 3.6rem;
}
.p-card__subtitle {
  color: white;
  padding-bottom: 16px;
  font-size: 2.4rem;
}
.p-card__text {
  color: white;
  height: auto;
}
.p-card__button {
  background-color: white;
  color: #707070;
  border-radius: 60px;
  display: block;
  margin: 0 11.188rem 60px 12.813rem;
  padding: 23px 6.625rem 20px 6.625rem;
}
.p-card__button:hover {
  color: #3C2A10;
}

.p-menu {
  margin-bottom: 130px;
}
.p-menu__inner {
  gap: 5rem;
}
.p-menu__takeOut {
  background-image: url(../images/pc-menu-take-out_front@2x.jpg);
  width: 100%;
  height: auto;
  min-height: 1197px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.p-menu__wrapper {
  padding-top: 26px;
  padding-left: 11px;
}
.p-menu__title {
  font-size: 8rem;
  color: white;
  padding-bottom: 41px;
}
.p-menu__line {
  border-color: white;
  border-width: 4px;
  width: 63px;
}
.p-menu__link {
  color: #3C2A10;
}
.p-menu__container {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 20px 20px 20px;
  height: auto;
  padding: 14px 20px;
}
.p-menu__container:hover {
  opacity: 0.9;
}
.p-menu__subtitle {
  font-size: 2.4rem;
  padding-bottom: 18px;
}
.p-menu__text {
  height: auto;
}
.p-menu__eatIn {
  background-image: url(../images/pc-menu-eat-in_front@2x.jpg);
  width: 100%;
  height: auto;
  min-height: 1197px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.p-fv-front {
  background-image: url(../images/mainvisual-pc@2x.jpg);
  width: 100%;
  height: 100%;
  min-height: 530px;
  position: relative;
  margin-bottom: 120px;
}
.p-fv-front__title {
  position: absolute;
  top: 50%;
  left: 5.34%;
  transform: translate(-5.34%, -50%);
  color: white;
  font-size: 4rem;
}

.p-fv-archive {
  background-image: url(../images/pc-mv_archive@2x.jpg);
  width: 100%;
  height: 100%;
  min-height: 239px;
  position: relative;
  margin-bottom: 63px;
}
.p-fv-archive::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.p-fv-archive__contents {
  position: absolute;
  top: 50%;
  left: 5.34%;
  transform: translate(-5.34%, -50%);
  z-index: 2;
  align-items: center;
}
.p-fv-archive__title {
  display: inline-block;
  color: white;
  font-size: 6rem;
}
.p-fv-archive__subtitle {
  display: inline-block;
  color: white;
  padding-left: 19px;
}

.p-fv-page {
  background-image: url(../images/pc-mv_page@2x.jpg);
  width: 100%;
  height: 100%;
  min-height: 500px;
  position: relative;
  margin-bottom: 61px;
}
.p-fv-page__title {
  position: absolute;
  top: 50%;
  left: 5.34%;
  transform: translate(-5.34%, -50%);
  color: white;
  font-size: 6rem;
}

.p-fv-single {
  background-image: url(../images/pc-mv_single@2x.jpg);
  width: 100%;
  height: 100%;
  min-height: 500px;
  position: relative;
  margin-bottom: 63px;
}
.p-fv-single__title {
  position: absolute;
  top: 50%;
  left: 5.34%;
  transform: translate(-5.34%, -50%);
  color: white;
  font-size: 6rem;
}

.p-search {
  height: 46px;
}
.p-search__searchBox {
  border: 1px solid #707070;
  border-radius: 10px;
  background: white;
  width: 396px;
  position: relative;
  padding: 0 5rem;
}
.p-search__searchBox::before {
  content: "";
  position: absolute;
  background-image: url(../images/pc-mushimegane@4x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 12px;
  display: inline-block;
}
.p-search__input {
  color: #707070;
  width: 100%;
  height: 46px;
}
.p-search__button {
  border: 1px solid #707070;
  border-radius: 10px;
  vertical-align: bottom;
  background: linear-gradient(#DED8D3, #F2EDE9);
  width: 136px;
  height: 100%;
  color: #707070;
  margin-left: 1rem;
}
.p-search__button:hover {
  opacity: 0.8;
}

.p-intro-archive {
  margin-bottom: 70px;
}
.p-intro-archive__title {
  font-size: 3.6rem;
  padding-bottom: 20px;
}

.p-intro-single {
  margin-bottom: 60px;
}
.p-intro-single__title {
  font-size: 3.6rem;
  padding-bottom: 57px;
}

.p-heading3 {
  font-size: 2.8rem;
  margin-bottom: 56px;
}

.p-heading4 {
  font-size: 2rem;
  margin-bottom: 57px;
}

.p-heading5 {
  font-size: 2rem;
  margin-bottom: 57px;
}

.p-heading6 {
  font-size: 2rem;
  margin-bottom: 56px;
}

.p-largerImage {
  margin-bottom: 60px;
}

.p-media {
  max-width: 100%;
  margin-bottom: 60px;
}
.p-media__image {
  width: 581px;
  height: auto;
}
.p-media__text {
  height: auto;
}

.p-smallerImage {
  max-width: 581px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.p-gallery {
  gap: 1.25rem;
  margin-bottom: 54px;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.p-code {
  background-color: #F5F5F5;
  max-width: 100%;
  min-height: 237px;
  height: auto;
  padding: 50px 60px 50px 50px;
  margin-bottom: 50px;
}

.p-table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  min-height: 381px;
  height: auto;
  table-layout: fixed;
  margin-bottom: 60px;
}
.p-table__row {
  border: 1px solid #707070;
}
.p-table__column {
  border: 1px solid #707070;
  color: #3C2A10;
  white-space: nowrap;
  padding-left: 1.875rem;
  text-align: left;
}
.p-table__column:nth-child(1) {
  width: 30%;
}
.p-table__column:nth-child(2) {
  width: 70%;
}

.p-button-single {
  border: 1px solid #707070;
  color: #3C2A10;
  border-radius: 20px;
  width: 429px;
  height: 104px;
  max-width: 100%;
  margin-bottom: 61px;
  background: linear-gradient(#DED8D3, #F2EDE9);
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}
.p-button-single:hover {
  opacity: 0.8;
}

.p-highlightText {
  padding-bottom: 277px;
}

.p-quote {
  background-color: #F5F5F5;
  padding: 50px 60px 47px 50px;
  max-width: 100%;
  min-height: 319px;
  height: auto;
  margin-bottom: 60px;
}
.p-quote__text {
  height: auto;
  font-size: 2rem;
  margin-bottom: 61px;
}
.p-quote__link {
  text-decoration: underline;
}

.p-orderedList {
  margin-bottom: 56px;
}
.p-orderedList__item {
  list-style-type: decimal;
}
.p-orderedList__list:not(:last-child) {
  padding-bottom: 17px;
}
.p-orderedList__list:nth-child(2) {
  padding-left: 2rem;
}

.p-unorderedList {
  margin-bottom: 57px;
}
.p-unorderedList__list:not(:last-child) {
  padding-bottom: 17px;
}
.p-unorderedList__list:nth-child(2) {
  padding-left: 2rem;
}

.u-mr40px {
  margin-right: 40px;
}
/*# sourceMappingURL=style.css.map */