// color pallates

//primary
$primary-color: #3C2A10;

//secondary
$secondary-color: #707070;



//background colors
$bg-header: #FFF7EF;
$bg-main: #FFFDFA;
$bg-gnav: #F2EDE9;
$bg-card: #3C2B1C;
$bg-container: #F5F5F5;
$bg-button: #DED8D3;


//gradient collors

//メインビジュアル　オーバーレイ加工
$mv-overlay: rgba(0, 0, 0, 0.6);

//地図　オーバーレイ加工
$map-overlay: rgba(0, 0, 0, 0.4);

//グラデーションカラー　ボタン用
$button-gradient: linear-gradient(#DED8D3, #F2EDE9);