@use "../global/index" as *;

.p-card {
    &:not(:last-of-type) {
        padding-bottom: 30px;
    }

    &__contents {
        display: flex;
    }

    &__image {
        min-width: 677px;
        height: auto;
    }

    &__container {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 56px 104px 60px 63px;
        height: auto;
    }

    &__title {
        color: white;
        padding-bottom: 44px;
    }

    &__subtitle {
        color: white;
        padding-bottom: 13px;
    }

    &__text {
        height: auto;
        color: white;
        padding-bottom: 60px;
    }

    &__button {
        max-width: 100%;
        width: 292px;
        height: auto;
        border-radius: 60px;
        background-color: white;
        @include primary-bold;
        padding: 20px 0;
        color: $secondary-color;
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;

        &:hover {
            color: $primary-color;
        }
    }
}