@use "../global/index" as *;

.p-location {
    width: 100%;
    height: 100%;

    &__container {
        width: 70%;
        height: auto;
        background-color: $map-overlay;
        padding: 86px 134px 75px 119px;
        color: white;
        grid-area: 1 / 1;
    }

    &__overlay {
        grid-area: 1 / 1;
        width: 100%;
        height: 100%;
        background-color: $map-overlay;
    }

    &__map {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }

    &__title {
        color: white;
        padding-bottom: 30px;
        font-size: 3.6rem;
    }

    &__line {
        width: 75px;
        height: 2px;
        background-color: white;
        color: white;
        margin-bottom: 58.5px;
    }

    &__text {
        color: white;
        line-height: 3.3;
        @include primary-bold;
        height: auto;
    }
}