@use "../global/index" as *;


.p-menu {

    &__inner {
        display: flex;
        gap: 5rem;
        margin: 7.5rem 7.5rem 8.125rem 7.5rem;
    }

    &__takeOut {
        background-image: url(../images/pc-menu-take-out_front@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
        min-height: 1197px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__wrapper {
        padding-top: 26px;
        padding-left: 11px;
    }

    &__title {
        font-size: 8rem;
        color: white;
        @include secondary-bold;
        padding-bottom: 3%;
    }

    &__line {
        width: 63px;
        height: 4px;
        background-color: white;
        color: white;
    }

    &__link {
        color: $primary-color;
    }

    &__container {
        background-color: rgba(255, 255, 255, 0.7);
        margin: 0 20px 20px 20px;
        height: auto;
        padding: 14px 20px;

        &:hover {
            opacity: .9;
        }
    }

    &__subtitle {
        font-size: 2.4rem;
        padding-bottom: 18px;
    }

    &__text {
        height: auto;
    }

    &__eatIn {
        background-image: url(../images/pc-menu-eat-in_front@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
        min-height: 1197px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}