@use "../../foundation/global" as *;

.p-code {
    background-color: $bg-container;
    max-width: 100%;
    min-height: 237px;
    height: auto;
    padding: 50px 60px 50px 50px;
    margin-bottom: 50px;
}