@use "../../foundation/global" as *;

.p-pagenation {
    margin-bottom: 64px;

    &__count {
        color: $primary-color;
        padding-right: 15px;
    }

    &__prev {
        color: $primary-color;
        padding-right: 15px;
    }

    &__item {
        border: 1px solid $primary-color;
        width: 35px;
        height: 35px;
        color: $primary-color;
    }

    &__item:not(:last-child) {
        margin-right: 15px;
    }

    &__item:first-child {
        background-color: $secondary-color;
        color: white;
    }
}