@use "../../foundation/global" as *;

.p-quote {
    background-color: $bg-container;
    padding: 50px 60px 47px 50px;
    max-width: 100%;
    min-height: 319px;
    height: auto;
    margin-bottom: 60px;

    &__text {
        height: auto;
        font-size: 2rem;
        margin-bottom: 61px;
    }

    &__link {
        text-decoration: underline;
    }
}