@use "../foundation/global" as *;

.p-search {
    height: 46px;

    &__searchBox {
        border: 1px solid $primary-color;
        border-radius: 10px;
        background: white;
        width: 396px;
        position: relative;
        padding: 0 5rem;
    }

    &__searchBox::before {
        content: "";
        position: absolute;
        background-image: url(../images/pc-mushimegane@4x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px;
        top: 11px;
        left: 12px;
        display: inline-block;
    }

    &__input {
        color: $primary-color;
        width: 100%;
        height: 46px;
    }

    &__button {
        border: 1px solid $primary-color;
        border-radius: 10px;
        vertical-align: bottom;
        background: $button-gradient;
        width: 136px;
        height: 100%;
        color: $primary-color;
        margin-left: 1rem;

        &:hover {
            opacity: .8;
        }
    }
}