@use "../global/index" as *;

.c-button {
    border: 1px solid $secondary-color;
    border-radius: 20px;
    background: $button-gradient;
    max-width: 100%;
    width: 429px;
    height: auto;

    &__text {
        color: $primary-color;
        @include primary-bold;
        padding: 40px 0;
        text-align: center;
    }

    &:hover {
        opacity: .8;
    }
}