@use "../global/index" as *;

.c-table {
    text-align: center;
    border-collapse: collapse;
    background-color: white;

    &__tr {
        border: 1px solid $primary-color;
    }

    &__td {
        border: 1px solid $primary-color;
        color: $secondary-color;
        white-space: nowrap;
    }
}